USE [master]
GO
/****** Object:  Database [QL_SHOPQUANAO_1]    Script Date: 05/06/2021 11:09:19 SA ******/
CREATE DATABASE [QL_SHOPQUANAO_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SHOPQUANAO_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_SHOPQUANAO_1.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_SHOPQUANAO_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_SHOPQUANAO_1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SHOPQUANAO_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SHOPQUANAO_1]
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[MANV] [char](5) NOT NULL,
	[SOCONG] [int] NULL,
	[DONLUONG] [int] NULL,
	[TONGLUONG] [int] NULL,
 CONSTRAINT [PK_BANGCHAMCONG_1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [char](5) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NULL,
	[GIAMGIA] [nvarchar](50) NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NGAYLAM]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NGAYLAM](
	[MANV] [char](5) NOT NULL,
	[NGAYLAM] [date] NOT NULL,
 CONSTRAINT [PK_CT_NGAYLAM] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYLAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NHAPHANG]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NHAPHANG](
	[MANHAP] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](5) NOT NULL,
	[MAKH] [char](5) NULL,
	[MANV] [char](5) NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
	[GIAMGIA] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[PASS] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](300) NULL,
	[SDT] [char](20) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASS] [varchar](50) NULL,
	[CHUCVU] [char](5) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAP] [char](5) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](5) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](300) NULL,
	[MOTA] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[MALOAI] [char](5) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VANTAY]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VANTAY](
	[MAVANTAY] [char](5) NOT NULL,
	[VANTAY] [nvarchar](100) NULL,
	[MANV] [char](5) NULL,
 CONSTRAINT [PK_VANTAY] PRIMARY KEY CLUSTERED 
(
	[MAVANTAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Hoadon_view]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Hoadon_view]
AS
SELECT       dbo.CT_HOADON.SOLUONG, dbo.CT_HOADON.DONGIA, dbo.CT_HOADON.GIAMGIA, dbo.CT_HOADON.THANHTIEN, dbo.KHACHHANG.TENKH, dbo.NHANVIEN.TENNV, dbo.SANPHAM.TENSP, dbo.HOADON.NGAYBD, 
                         dbo.HOADON.TONGTIEN, dbo.HOADON.GIAMGIA AS Expr1, dbo.CT_HOADON.MAHD
FROM            dbo.CT_HOADON INNER JOIN
                         dbo.HOADON ON dbo.CT_HOADON.MAHD = dbo.HOADON.MAHD INNER JOIN
                         dbo.KHACHHANG ON dbo.HOADON.MAKH = dbo.KHACHHANG.MAKH INNER JOIN
                         dbo.SANPHAM ON dbo.CT_HOADON.MASP = dbo.SANPHAM.MASP LEFT OUTER JOIN
                         dbo.NHANVIEN ON dbo.HOADON.MANV = dbo.NHANVIEN.MANV

GO
/****** Object:  View [dbo].[PhieuNhap_view]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PhieuNhap_view]
AS
SELECT       dbo.CT_NHAPHANG.SOLUONG, dbo.CT_NHAPHANG.DONGIA, dbo.CT_NHAPHANG.THANHTIEN, dbo.NHAPHANG.NGAYNHAP, dbo.NHAPHANG.TONGTIEN, dbo.SANPHAM.TENSP, dbo.CT_NHAPHANG.MANHAP
FROM            dbo.SANPHAM INNER JOIN
                         dbo.CT_NHAPHANG ON dbo.SANPHAM.MASP = dbo.CT_NHAPHANG.MASP INNER JOIN
                         dbo.NHAPHANG ON dbo.CT_NHAPHANG.MANHAP = dbo.NHAPHANG.MANHAP

GO
INSERT [dbo].[BANGCHAMCONG] ([MANV], [SOCONG], [DONLUONG], [TONGLUONG]) VALUES (N'NV001', 11, 120000, 1200000)
INSERT [dbo].[BANGCHAMCONG] ([MANV], [SOCONG], [DONLUONG], [TONGLUONG]) VALUES (N'NV002', 8, 120000, 840000)
INSERT [dbo].[BANGCHAMCONG] ([MANV], [SOCONG], [DONLUONG], [TONGLUONG]) VALUES (N'NV003', 1, 120000, 120000)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV001', N'Admin')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV002', N'Nhân viên')
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (N'HD001', N'SP001', 2, 250000, NULL, 500000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (N'HD002', N'SP001', 2, 250000, NULL, 500000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (N'HD002', N'SP002', 1, 400000, NULL, 400000)
INSERT [dbo].[CT_NGAYLAM] ([MANV], [NGAYLAM]) VALUES (N'NV001', CAST(0x73420B00 AS Date))
INSERT [dbo].[CT_NGAYLAM] ([MANV], [NGAYLAM]) VALUES (N'NV001', CAST(0x88420B00 AS Date))
INSERT [dbo].[CT_NGAYLAM] ([MANV], [NGAYLAM]) VALUES (N'NV001', CAST(0x90420B00 AS Date))
INSERT [dbo].[CT_NHAPHANG] ([MANHAP], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'PN001', N'SP001', 5, 230000, 1150000)
INSERT [dbo].[CT_NHAPHANG] ([MANHAP], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'PN001', N'SP003', 6, 280000, 1680000)
INSERT [dbo].[CT_NHAPHANG] ([MANHAP], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'PN002', N'SP001', 5, 240000, 1200000)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (N'HD001', N'KH001', N'NV001', CAST(0x0000AD3600000000 AS DateTime), CAST(0x0000AD3600000000 AS DateTime), NULL, 500000, N'Cửa Hàng', N'Mua tại cửa hàng')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (N'HD002', N'KH001', N'NV001', CAST(0x0000AD3700000000 AS DateTime), CAST(0x0000AD3700000000 AS DateTime), NULL, 900000, N'Cửa Hàng', N'Mua tại cửa hàng')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (N'HD003', N'KH001', N'NV001', CAST(0x0000AD3700000000 AS DateTime), CAST(0x0000AD3700000000 AS DateTime), NULL, 950000, N'Cửa Hàng', N'Mua tại cửa hàng')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [PASS]) VALUES (N'KH001', N'Trần Tấn Hiếu', N'0397330562', N'quảng ngãi', N'Nam', N'456')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [PASS]) VALUES (N'KH002', N'Nguyến Thị Hậu', N'0378558704', NULL, N'Nam', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [PASS]) VALUES (N'KH003', N'aaaaaa', N'0397330563', NULL, N'Nam', NULL)
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML001', N'ÁO TRẺ EM')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML002', N'QUẦN TRẺ EM')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML003', N'ÁO NGƯỜI LỚN')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV001', N'Mạnh thiên lý', N'quanly.png', N'0397330562          ', N'Nữ', N'AD', N'123', N'CV001')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV002', N'Trần Tấn Hiếu', N'tanhieu.jpg', N'0397330562          ', N'Nam', N'Hieu', N'123', N'CV002')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV003', N'Dương Văn Đại', N'vandai.jpg', N'0397330562          ', N'Nam', N'Dai', N'123', N'CV002')
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN001', CAST(0x0000AD3800000000 AS DateTime), 2830000)
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN002', CAST(0x0000AD3800000000 AS DateTime), 13700000)
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN003', CAST(0x0000AD3E00000000 AS DateTime), 700000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP001', N'Áo thun da cá sấu', N'aothundacasau.jpg', N'Chất vải được dệt từ những sợi vải đan xen vào', 250000, N'CÒN HÀNG', 48, N'ML001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP002', N'Quần kaki nam', N'quankakinam.jpg', N'Chất liệu:96% Cotton,4% Spandex', 400000, N'CÒN HÀNG', 50, N'ML004')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP003', N'Áo sơ mi trắng', N'aosomi.jpg', N'Chất liệu:100% cotton', 300000, N'CÒN HÀNG', 50, N'ML003')
INSERT [dbo].[VANTAY] ([MAVANTAY], [VANTAY], [MANV]) VALUES (N'VT001', N'2_1.bmp', N'NV002')
INSERT [dbo].[VANTAY] ([MAVANTAY], [VANTAY], [MANV]) VALUES (N'VT002', N'3_1.bmp', N'NV004')
INSERT [dbo].[VANTAY] ([MAVANTAY], [VANTAY], [MANV]) VALUES (N'VT003', N'4_1.bmp', N'NV001')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_NHANVIEN]    Script Date: 05/06/2021 11:09:19 SA ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UNI_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CT_NGAYLAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_NGAYLAM_BANGCHAMCONG] FOREIGN KEY([MANV])
REFERENCES [dbo].[BANGCHAMCONG] ([MANV])
GO
ALTER TABLE [dbo].[CT_NGAYLAM] CHECK CONSTRAINT [FK_CT_NGAYLAM_BANGCHAMCONG]
GO
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_NHAPHANG] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPHANG] ([MANHAP])
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPHANG_NHAPHANG]
GO
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_CT_NHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([CHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[VANTAY]  WITH CHECK ADD  CONSTRAINT [FK_VANTAY_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[VANTAY] CHECK CONSTRAINT [FK_VANTAY_NHANVIEN]
GO
/****** Object:  Trigger [dbo].[cnSL_DABAN]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[cnSL_DABAN] on [dbo].[CT_HOADON] after INSERT AS
BEGIN
UPDATE SANPHAM
   SET SOLUONG = SP.SOLUONG -  (
		SELECT SOLUONG
		FROM inserted as i, HOADON as hd
		WHERE i.MAHD = hd.MAHD and hd.TRANGTHAI = N'Mua tại cửa hàng' 
	)
   FROM SANPHAM as SP 
   join inserted ON SP.MASP = inserted.MASP
end

GO
/****** Object:  Trigger [dbo].[THEMSC]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THEMSC] on [dbo].[CT_NGAYLAM] after INSERT AS
BEGIN
UPDATE BANGCHAMCONG
   SET SOCONG=SOCONG+1,TONGLUONG = (SOCONG+1)*DONLUONG
   FROM BANGCHAMCONG bcc  join inserted ON bcc.MANV = inserted.MANV
end
GO
/****** Object:  Trigger [dbo].[THEMSL]    Script Date: 05/06/2021 11:09:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THEMSL] on [dbo].[CT_NHAPHANG] after INSERT AS
BEGIN
UPDATE SANPHAM
   SET SOLUONG = SP.SOLUONG +  (
		SELECT SOLUONG
		FROM inserted i
		WHERE i.MASP = SP.MASP
	)
   FROM SANPHAM SP  
   join inserted ON SP.MASP = inserted.MASP
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CT_HOADON"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "KHACHHANG"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "NHANVIEN"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SANPHAM"
            Begin Extent = 
               Top = 6
               Left = 870
               Bottom = 136
               Right = 1040
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 135' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Hoadon_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Hoadon_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Hoadon_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SANPHAM"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CT_NHAPHANG"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "NHAPHANG"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PhieuNhap_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PhieuNhap_view'
GO
USE [master]
GO
--trigger sau khi C_NGAYLAM thì socong tang 1
CREATE TRIGGER THEMSC on CT_NGAYLAM after INSERT AS
BEGIN
UPDATE BANGCHAMCONG
   SET SOCONG=SOCONG+1,TONGLUONG = (SOCONG+1)*DONLUONG
   FROM BANGCHAMCONG bcc  join inserted ON bcc.MANV = inserted.MANV
end
--trigger sau khi thêm CT_NHAPHANG thì sl của sp tăng
CREATE TRIGGER THEMSL on CT_NHAPHANG after INSERT AS
BEGIN
UPDATE SANPHAM
   SET SOLUONG = SP.SOLUONG +  (
		SELECT SOLUONG
		FROM inserted i
		WHERE i.MASP = SP.MASP
	)
   FROM SANPHAM SP  
   join inserted ON SP.MASP = inserted.MASP
end
--trigger sau khi thêm hóa đơn vs dòng tt 'Mua tại cửa hàng' và cthd thì sp giảm
create TRIGGER cnSL_DABAN on CT_HOADON after INSERT AS
BEGIN
UPDATE SANPHAM
   SET SOLUONG = SP.SOLUONG -  (
		SELECT SOLUONG
		FROM inserted as i, HOADON as hd
		WHERE i.MAHD = hd.MAHD and hd.TRANGTHAI = N'Mua tại cửa hàng' 
	)
   FROM SANPHAM as SP 
   join inserted ON SP.MASP = inserted.MASP
end

create TRIGGER cnSL_DABAN2 on HOADON after UPDATE AS
BEGIN
UPDATE SANPHAM
   SET SOLUONG = SP.SOLUONG -  (
		SELECT SOLUONG
		FROM inserted as i, HOADON as hd
		WHERE i.MAHD = hd.MAHD and hd.TRANGTHAI = N'Mua tại cửa hàng' 
	)
   FROM SANPHAM as SP 
   join inserted ON SP.MASP = inserted.MASP
end

-----------NẾU CHẠY MÀ NÓ LỖI PHẦN TRIGGER THÌ DATABASE NÀY NÓ ADD SẴN TRIGGER RỒI Ạ-------------------