USE [master]
GO
/****** Object:  Database [QL_SHOPQUANAO]    Script Date: 4/16/2021 3:27:07 PM ******/
CREATE DATABASE [QL_SHOPQUANAO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SHOPQUANAO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_SHOPQUANAO.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_SHOPQUANAO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_SHOPQUANAO_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SHOPQUANAO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SHOPQUANAO]
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[MANV] [nchar](10) NOT NULL,
	[NGAYLAMcuoi] [date] NOT NULL,
	[SOCONG] [int] NULL,
	[DONLUONG] [int] NULL,
	[TONGLUONG] [int] NULL,
 CONSTRAINT [PK_BANGCHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYLAMcuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nchar](10) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NULL,
	[GIAMGIA] [nvarchar](50) NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_NHAPHANG]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NHAPHANG](
	[MANHAP] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[MANV] [nchar](10) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[GIAMGIA] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [char](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASS] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](300) NULL,
	[SDT] [char](20) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASS] [varchar](50) NULL,
	[CHUCVU] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAP] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](300) NULL,
	[MOTA] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[MALOAI] [nchar](10) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VANTAY]    Script Date: 4/16/2021 3:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VANTAY](
	[MAVANTAY] [nchar](10) NOT NULL,
	[VANTAY] [nvarchar](100) NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_VANTAY] PRIMARY KEY CLUSTERED 
(
	[MAVANTAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV00000001', N'Admin')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV00000002', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[CT_HOADON] ON 

INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (1, N'SP00000002', 1, 400000, NULL, NULL)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (2, N'SP00000002', 3, 400000, NULL, NULL)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (3, N'SP00000010', 2, 60000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CT_HOADON] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (1, 1, NULL, CAST(N'2021-04-11' AS Date), NULL, NULL, NULL, NULL, N'')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (2, 1, NULL, CAST(N'2021-04-11' AS Date), NULL, NULL, NULL, NULL, N'')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYBD], [NGAYKT], [GIAMGIA], [TONGTIEN], [DIACHI], [TRANGTHAI]) VALUES (3, 1, NULL, CAST(N'2021-04-11' AS Date), NULL, NULL, NULL, NULL, N'')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [USERNAME], [PASS]) VALUES (1, N'Dương Văn Đại', N'0977266502          ', N'140 Lê Trọng Tấn', N'Nam', N'vandai', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [USERNAME], [PASS]) VALUES (2, N'Văn Công', N'0977266502          ', N'140 Lê Trọng Tấn', N'Nam', N'cong', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH], [USERNAME], [PASS]) VALUES (3, N'Hiếu ', N'097735556           ', N'228 Lê Tấn', N'Nam', N'hieu', N'123')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML001     ', N'ÁO TRẺ EM')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML002     ', N'QUẦN TRẺ EM')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML003     ', N'ÁO NGƯỜI LỚN')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV00000001', N'Mạnh thiên lý', N'vucanh.jpg', N'0397330562          ', N'Nam', N'AD', N'123', N'CV00000001')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV00000002', N'Trần Tấn Hiếu', N'tanhieu.jpg', N'0397330562          ', N'Nam', N'Hieu', N'123', N'CV00000002')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [HINHANH], [SDT], [GIOITINH], [USERNAME], [PASS], [CHUCVU]) VALUES (N'NV00000003', N'Dương Văn Đại', N'vandai.jpg', N'0397330562          ', N'Nam', N'Dai', N'123', N'CV00000002')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP00000001', N'Áo thun da cá sấu', N'aothundacasau.jpg', N'Chất vải được dệt từ những sợi vải đan xen vào', 250000, N'CÒN HÀNG', 50, N'ML001     ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP00000002', N'Quần kaki nam', N'quankakinam.jpg', N'Chất liệu:96% Cotton,4% Spandex', 400000, N'CÒN HÀNG', 47, N'ML004     ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [MOTA], [DONGIA], [TRANGTHAI], [SOLUONG], [MALOAI]) VALUES (N'SP00000003', N'Áo sơ mi trắng', N'aosomi.jpg', N'Chất liệu:100% cotton', 300000, N'CÒN HÀNG', 50, N'ML003     ')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_KHACHHANG]    Script Date: 4/16/2021 3:27:07 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UNIQUE_KHACHHANG] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_NHANVIEN]    Script Date: 4/16/2021 3:27:07 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UNI_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_NHAPHANG] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPHANG] ([MANHAP])
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPHANG_NHAPHANG]
GO
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_CT_NHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([CHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[VANTAY]  WITH CHECK ADD  CONSTRAINT [FK_VANTAY_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[VANTAY] CHECK CONSTRAINT [FK_VANTAY_NHANVIEN]
GO
USE [master]
GO
